#container{
    padding: 0 15px 30px 15px;
    background-color: #122;
    color: lightgray;
}

footer{
    display: block;
    padding: 10px 15px;
    text-align: right;
    border-top: 4px solid #111;
    background-color:#111;
    color: lightgray;
}
