<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="Shortcut Icon" type="image/x-icon" href="../src/img/cb-logo.png">

	<!-- core -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.js"></script>
    
</head>
<body style="background-color: #eee; color: #222; font-size: 12px; line-height: 14px; margin: 16px 8px">
    <form class="d-flex">
        <div class="mr-2">是否RWD? <input id="isRWD" name="isRWD" value="" style="width: 30px"></div>
        <div class="mr-2">連接符: <input id="hyphen" name="hyphen" value="-" style="width: 30px"></div>
        <button class="btn btn-dark btn-sm p-0">送出</button>
    </form>
    <br>
    <div id="output"></div>
    <script>
        var opt = {}
        var url = new URL(window.location.href)
        url.searchParams.forEach(function(val,key){
            opt[key]=val
            $('#'+key).val(val)
        })

        /*=== 自訂編輯處: ===*/
        // const option = {
        //     hyphen: "-", // CSS連字符
        //     isRWD: true, // 是否要RWD
        //     setRWD: [
        //         { name: 'sm', min: '576px' },
        //         { name: 'md', min: '768px' },
        //         { name: 'lg', min: '992px' },
        //         { name: 'xl', min: '1200px' },
        //     ]
        // }

        document.getElementById("output").innerHTML = buildCssLayout(opt);

        function buildCssLayout(option) {

            const OP = { // 自訂編輯處理
                hyphen: option.hyphen || '-', // CSS連字符
                isRWD: option.isRWD || false, // 是否要RWD
                setRWD: option.setRWD || [
                    { name: 'sm', min: '576px' },
                    { name: 'md', min: '768px' },
                    { name: 'lg', min: '992px' },
                    { name: 'xl', min: '1200px' },
                ]
            }

            const hyphen = OP.hyphen;
            const isRWD = OP.isRWD ? true : false;
            const RWD = OP.setRWD;

            // 創建CSS
            const IM = "!important";
            const CSS = {
                margin: function () {
                    let STR = "/* === margin (0~100)(px) === */ <br>"

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];
                        STR += media[0];
                            STR += `.m${_}auto{margin:auto${IM}} `
                            for (let i = 0; i <= 100; i++) {
                                STR += `.m${_}${i}{margin:${i}px${IM}} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                            STR += "<hr>";
                            STR += `.my${_}auto{margin-top:auto${IM}; margin-bottom:auto${IM};} `
                            STR += `.mx${_}auto{margin-left:auto${IM}; margin-right:auto${IM};} `
                            for (let i = 0; i <= 100; i++) {
                                STR += `.my${_}${i}{margin-top:${i}px${IM}; margin-bottom:${i}px${IM};} `
                                STR += `.mx${_}${i}{margin-left:${i}px${IM}; margin-right:${i}px${IM};} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                            STR += "<hr>";
                            STR += `.mt${_}auto{margin-top:auto${IM};} `
                            STR += `.mr${_}auto{margin-right:auto${IM};} `
                            STR += `.mb${_}auto{margin-bottom:auto${IM};} `
                            STR += `.ml${_}auto{margin-left:auto${IM};} `
                            for (let i = 0; i <= 100; i++) {
                                STR += `.mt${_}${i}{margin-top:${i}px${IM};} `
                                STR += `.mr${_}${i}{margin-right:${i}px${IM};} `
                                STR += `.mb${_}${i}{margin-bottom:${i}px${IM};} `
                                STR += `.ml${_}${i}{margin-left:${i}px${IM};} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                        STR += media[1];
                        if (isRWD===false){ break }
                    }

                    return STR + "<hr>"
                },
                padding: function () {
                    let STR = "/* === padding (0~100)(px) === */ <br>"

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];

                        STR += media[0];
                            for (i = 0; i <= 100; i++) {
                                STR += `.p${_}${i}{padding:${i}px${IM};} `
                            }
                            STR += "<hr>"
                            for (i = 0; i <= 100; i++) {
                                STR += `.py${_}${i}{padding-top:${i}px${IM}; padding-bottom:${i}px${IM};} `
                                STR += `.px${_}${i}{padding-left:${i}px${IM}; padding-right:${i}px${IM};} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                            STR += "<hr>"
                            for (i = 0; i <= 100; i++) {
                                STR += `.pt${_}${i}{padding-top:${i}px${IM};} `
                                STR += `.pr${_}${i}{padding-right:${i}px${IM};} `
                                STR += `.pb${_}${i}{padding-bottom:${i}px${IM};} `
                                STR += `.pl${_}${i}{padding-left:${i}px${IM};} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                        STR += media[1];
                        if (isRWD===false){ break }
                    }
                    return STR + "<hr>"
                },
                widthHeight: function () {
                    let STR = "/* === width & height (0~100)(%) === */ <br>"

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];

                        STR += media[0];
                            STR += `.w${_}auto{width:auto${IM};} .h${_}auto{height:auto${IM};}`
                            for (let i = 0; i <= 100; i++) {
                                STR += `.w${_}${i}{width:${i}%${IM};} `
                                STR += `.h${_}${i}{height:${i}%${IM};} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                        STR += media[1];
                        if (isRWD===false){ break }
                    }
                    return STR + "<hr>"
                },
                borderRadius: function () {
                    let STR = "/* === border-radius (0~100)(px) === */ <br>"

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];

                        STR += media[0];
                            for (let i = 0; i <= 100; i++) {
                                STR += `.bdrs${_}${i}{border-radius:${i}px${IM}} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                        STR += media[1];
                        if (isRWD===false){ break }
                    }
                    return STR + "<hr>"
                },
                fontSize: function () {
                    let STR = "/* === font-size (0~100)(px) === */ <br>"

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];

                        STR += media[0];
                            for (let i = 0; i <= 100; i++) {
                                STR += `.fz${_}${i}{font-size:${i}px${IM}} `
                                STR += i % 10 === 0 ? "<br>" : ""
                            }
                        STR += media[1]; 
                        if (isRWD===false){ break }
                    }
                    return STR + "<hr>"
                },
                bgcRGBA: function () {
                    let STR = "/* === 黑白背景+半透明 (0~1 (+0.05)) (ex: 0,005,01,015,02,025...) === */<br>";

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];

                        STR += media[0];
                        for (let i = 0; i <= 100; i = i + 5) {
                            STR += `.bgc0${_}a${(i / 100).toString().split('.').join('')}{background-color:rgba(0,0,0,${i / 100})${IM}} `;
                            STR += `.bgc255${_}a${(i / 100).toString().split('.').join('')}{background-color:rgba(255,255,255,${i / 100})${IM}} `;
                            STR += i % 20 === 0 ? "<br>" : "";
                        }
                        STR += media[1]; 
                        if (isRWD===false){ break }
                    }
                    return STR + "<hr>"
                },
                equal: function () {
                    let STR = "/* === 切等分 === */<br>";

                    for( let r=-1; r<RWD.length; r++ ){
                        let _ = ( r!==-1 && isRWD===true ) ? hyphen + RWD[r].name + hyphen : hyphen;
                        let media = ( r!==-1 && isRWD===true ) ? [ `@media( min-width: ${RWD[r].min} ){<br>` , `}<hr><hr>` ] : [ '', '<hr><hr>' ];

                        STR += media[0];
                        STR += `[class*="_equal${_}"]>*:nth-child(n){clear:none;}<br>`
                        for (let i = 1; i <= 16; i++) {
                            STR += `._equal${_}${i}>*{width:calc(100% / ${i});clear:left;} `
                            STR += i % 2 === 0 ? "<br>" : ""
                        }
                        STR += media[1];
                        if (isRWD===false){ break }
                    }
                    return STR + "<hr>"
                }
            }

            // 輸出CSS
            let layout = ''
            $.each(CSS, function (key, fn) {
                layout += `<div style="user-select: all">${fn()}</div>`
            })
            return layout
        }
    </script>
</body>

</html>