<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="Shortcut Icon" type="image/x-icon" href="../src/common/img/cb-logo.png">

	<!-- core -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.js"></script>

	<!-- plugins -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- simplify -->
	<script src="../src/common/js/simplify.js"></script>

	<!-- web style -->
	<link href="../src/common/css/main.css" rel="stylesheet">
	<script src="../src/common/js/main.js"></script>

	<!-- <base target="_blank"> -->
	<style>
		a, span { 
			font-size: 16px; 
			line-height: 2; 
			color: skyblue; 
			white-space: nowrap;
		}
	</style>
</head>

<body>
	<div id="app">
		<main>
			<div class="mb-5">
				<div id="knowledgeContent" class="row"></div>
			</div>
			<hr class="bc-e">
			<button class="btn btn-success" onclick="jsScreen()">jsScreen</button>
			<div id="pra" class="mt-2" style="height: 24px;"></div>
		</main>
	</div>

	<script>
		var data = {
			jsScreen: `
			*** document. ***<br>
				網頁可見區域寬 (body.clientWidth)：${document.body.clientWidth}<br>
				網頁可見區域高 (body.clientHeight)：${document.body.clientHeight}<br>
				網頁可見區域寬 (body.offsetWidth)：${document.body.offsetWidth}<br>
				網頁可見區域高 (body.offsetHeight)：${document.body.offsetHeight}<br>
				網頁正文全文寬 (body.scrollWidth)：${document.body.scrollWidth}<br>
				網頁正文全文高 (body.scrollHeight)：${document.body.scrollHeight}<br>
				網頁被卷去的高ff (body.scrollTop)：${document.body.scrollTop}<br>
				網頁被卷去的高ie (documentElement.scrollTop)：${document.documentElement.scrollTop}<br>
				網頁被卷去的左 (body.scrollLeft)：${document.body.scrollLeft}<br>
			*** window. ***<br>
				網頁正文部分上 (screenTop)：${window.screenTop}<br>
				網頁正文部分左 (screenLeft)：${window.screenLeft}<br>
				螢幕解析度的高 (screen.height)：${window.screen.height}<br>
				螢幕解析度的寬 (screen.width)：${window.screen.width}<br>
				螢幕可用工作區高 (screen.availHeight)：${window.screen.availHeight}<br>
				螢幕可用工作區寬 (screen.availWidth)：${window.screen.availWidth}<br>
				你的螢幕設置是 (screen.colorDepth)：${window.screen.colorDepth} 位彩色<br>
				你的螢幕設置 (screen.deviceXDPI)：${window.screen.deviceXDPI} 像素/英寸<br>
				你的螢幕是 (screen.pixelDepth)：${window.screen.pixelDepth} 吋<br>
			`,
			list: [
				{
					title: 'HTML',
					content: [
						{
							value: 'base target="_blank"',
							href: 'https://www.w3schools.com/html/tryit.asp?filename=tryhtml_head_base',
							tag: 'html',
						},
						{
							value: 'map - ( area shape - coords )',
							href: 'https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_map2',
							tag: 'html',
						},
						{
							value: 'picture - ( source media - srcset )',
							href: 'https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_picture',
							tag: 'html',
						},
						{
							value: 'iframe target',
							href: 'https://www.w3schools.com/html/tryit.asp?filename=tryhtml_iframe_target',
							tag: 'html',
						},
					]
				},
				{
					title: 'CSS',
					content: [
						{
							value: '文方伸縮 type="text" 口 → |二二二|',
							href: 'https://www.w3schools.com/cssref/tryit.asp?filename=trycss_dim_width_inputfocus',
							tag: 'css',
						},
						{
							value: '取出href! content:"(" attr( href ) ")";',
							href: 'https://www.w3schools.com/css/tryit.asp?filename=trycss3_mediaqueries_ex4',
							tag: 'css',
						},
						{
							value: 'Sticky 完整教學',
							href: 'https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky',
							tag: 'css',
						},
						{
							value: '等高排列~ table-cell',
							href: 'https://www.w3schools.com/howto/howto_css_equal_height.asp',
							tag: 'css',
						},
						{
							value: '訊息小提示，不錯看',
							href: 'https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_snackbar',
							tag: 'css',
						},
					]
				},			
				{
					title: 'JS',
					content: [
						{
							value: '存取經緯度',
							href: 'https://www.w3schools.com/html/html5_geolocation.asp',
							tag: 'js',
						},
						{
							value: '日期格式判斷',
							href: 'http://www.the-art-of-web.com/javascript/validate-date/',
							tag: 'js',
						},
						{
							value: 'HTML元素標籤',
							href: 'https://www.w3schools.com/jsref/dom_obj_all.asp',
							tag: 'js',
						},
						{
							value: '創造元素、內容',
							href: 'https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_node_appendchild',
							tag: 'js',
						},
						{
							value: '製作 Filter Table',
							href: 'https://www.w3schools.com/jquery/jquery_filters.asp',
							tag: 'js',
						},
					]
				},
				{
					title: 'LEARN',
					content: [
						{
							value: 'PJCHENder沒告訴你的小細節',
							href: 'https://pjchender.blogspot.tw/',
							tag: 'html css js other',
						},
						{
							value: '改變 HTML5 range 樣式',
							href: 'http://www.oxxostudio.tw/articles/201503/html5-input-range-style.html',
							tag: 'css',
						},
						{
							value: 'JS取range值',
							href: 'https://www.w3schools.com/code/tryit.asp?filename=FO8WITXOA4VF',
							tag: 'js',
						}
					]
				},
				{
					title: 'TOOLS',
					content: [
						{
							value: 'Tools - 正規表達找class',
							href: 'tools-regex_find_class.html',
							tag: 'tool',
						},
						{
							value: 'JS - 螢幕',
							href: 'js-screen_Info.html',
							tag: 'tool js',
						},
						{
							value: 'JS - 陣列',
							href: 'js-array.html',
							tag: 'tool js',
						},
						{
							value: 'Build - emmetCss',
							href: 'build-emmetCss.html',
							tag: 'tool',
						},
						{
							value: 'HackMD',
							href: 'https://hackmd.io/@W9cCzYCCQ2yGnao3bFxHQg',
							tag: 'tool',
						}
					]
				},
			]
		}

		function moveFunc() {
			var x = event.clientX;
			var y = event.clientY;
			var str = `
				<span class="mr-4"> 亂數[20~100]：${( 20 + Math.random()*( 1 + (100-20) ) ).toFixed(4)} </span>
				<span> X,Y座標：${x}, ${y} </span>
			`
			$('#pra').html( str );
		}

		function jsScreen(){
			/* 參考: https://craftpip.github.io/jquery-confirm */
			$.dialog({
				title:'JS螢幕顯示用法',
				content: data.jsScreen,
				draggable: true,
				columnClass: '',
				boxWidth: '80%',
				theme: 'dark',
			})
		}

		function layout_Tab_Content(dataObj){
			let str = "";
			$.each( dataObj, function(i1,v1){
				let li = "";
				$.each( v1.content, function(i2,v2){
					li += `
						<li><a href="${v2.href}">${v2.value}</a></li>
					`
				})
				str += `
					<div id="knowledge_${v1.title}" class="col">
						<h3>${v1.title}</h3>
						<ul class="pl-4 ml-2">${li}</ul>
					</div>
				`
			})
			return str;
		}

		$('#knowledgeContent').html( layout_Tab_Content( data.list ) );

		$('body').on('mousemove', function(){
			moveFunc();
		})
	</script>
</body>
</html>
