<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- shortcut -->
	<link rel="Shortcut Icon" type="image/x-icon" href="cb-logo.png">

	<!-- jquery -->
	<script src="../src/plugins/jquery/jquery.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="../src/plugins/bootstrap/bootstrap.css">
	<script src="../src/plugins/bootstrap/popper.js"></script>
	<script src="../src/plugins/bootstrap/bootstrap.js"></script>

    <!-- main_simplify -->
	<link rel="stylesheet" href="../src/css/main_simplify.css">
	<script src="../src/js/main_simplify.js"></script>

	<!-- jquery-confirm -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

	<!-- web style -->
	<link rel="stylesheet" href="../src/css/cb.css">
	<script src="../src/js/cb.js"></script>
</head>
<body>

	<style>
		.section { padding: 30px 15px; border-bottom: 4px double #666; }
		.section > * { margin-bottom: 10px; }
		.title { font-weight: bold; margin-bottom: 1em; }

		#ch_1_box { overflow: auto; height: 300px; width: 300px; font-size: 40px; border: 30px solid MidnightBlue; padding: 30px; resize: both;}
		#ch_1_box.no_scrollbar::-webkit-scrollbar { width: 0px; height: 0px; }

		.box { display: inline-flex; justify-content: center; align-items: center; border: 30px solid MidnightBlue; padding: 30px; margin-right: 10px; text-align: center; }
		#box1 { width: 200px; height: 200px; background-color: #050; }
		#box2 { width: 200px; height: 200px; background-color: #500; }
		.table_w { margin-bottom: 30px; white-space: nowrap; max-width: 900px; color:#ccc; }
	</style>

	<div id="ch_1" class="section">
		<h2 class="title">1. 螢幕寬高一覽</h2>

		<table id="ch_1_table1" class="table table_w">
			<thead>
				<tr>
					<th>說明</th>
					<th>事件</th>
					<th>數值</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<div id="ch_1_box">
			<div class="bgc-3 d-inline-block">
				<button class="btn btn-info btn-lg" onclick="$('#ch_1_box').toggleClass('no_scrollbar');">toggle scrollbar</button><br>
				Element.Element<br>
				Element.Element<br>
				Element.Element
			</div>
		</div>

		<table id="ch_1_table2" class="table table_w">
			<thead>
				<tr>
					<th>說明</th>
					<th>事件</th>
					<th>數值</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<div>
			* 踩坑注意: <br>
			1. scrollHeight - offsetHeight = scrollTop。<br>
			2. clientWidth 不會計算scrollbar 。<br>
		</div>

	</div>


	<div id="ch_2" class="section">
		<h2 class="title">2. 鼠標位置一覽</h2>

		<div class="d-flex">
			<div id="box1" class="box">
				<div>200px</div>
			</div>
			
			<div id="box2" class="box">
				<iframe style="width: 100%; height: 100%;" src="nothing.html"></iframe>
			</div>
		</div>
		
		<table id="ch_2-table" class="table table_w">
			<thead>
				<tr>
					<th>說明</th>
					<th>事件</th>
					<th>window <button onclick="$(this).toggleClass('hover_console');">cl</button><br>mouseover</th>
					<th>window click</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>裝置螢幕</td>
					<td>event.screen (X,Y)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>視窗可視</td>
					<td>event.client (X,Y)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>頁面捲動</td>
					<td>event.page (X,Y)</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>內容元素</td>
					<td>event.offset (X,Y)</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<div>
			* 踩坑注意: <br>
			1. 使用offset時，會從padding開始計算，起始border會為負值。<br>
			2. 使用iframe時，不會將其iframe計算進去。<br>
		</div>
	</div>


	<script>
		$(function(){
			ch_1_fn();
			ch_2_fn();
		})
		function ch_1_fn(){
			$(window).on('resize scroll load', function(){
				let arr = [
					{
						"desc": '螢幕解析度 (寬,高)', 
						"window.screen.width": window.screen.width,
						"window.screen.height": window.screen.height,
					},
					{
						"desc": '螢幕可用工作區 (寬,高)',
						"window.screen.availWidth": window.screen.availWidth,
						"window.screen.availHeight": window.screen.availHeight,
					},
					{
						"desc": '網頁正文部分 (左,上)',
						"window.screenLeft": window.screenLeft,
						"window.screenTop": window.screenTop,
					},
					{
						"desc": '網頁正文部分 (左,上)',
						"window.pageXOffset": window.pageXOffset,
						"window.pageYOffset": window.pageYOffset,
					},
				]

				let tbody_content = "";
				$.each( arr, function( idx, obj ){

					let td1 = obj['desc'];
					let td2 = "";
					let td3 = "";
					$.each( obj, function( key, val, aa ){
						if ( key !== 'desc' ){
							td2 += `${key}, `
							td3 += `${val}, `
						}
					})

					tbody_content += `
					<tr>
						<td>${td1}</td>
						<td>${td2}</td>
						<td>${td3}</td>
					</tr>`
					
				})
				$('#ch_1_table1 tbody').html(tbody_content);
			})


			let element_div = $('#ch_1_box');
			$(element_div).on('mousedown mousemove mouseleave scroll load', function(){
				let arr = [
					{
						"desc": '元素可視範圍 | 元素的padding區域 (寬,高)',
						"element.clientWidth" : $(element_div).get(0).clientWidth,
						"element.clientHeight" : $(element_div).get(0).clientHeight,
					},
					{
						"desc": '元素可視範圍 | 元素區域 (寬,高)',
						"element.offsetWidth" : $(element_div).get(0).offsetWidth,
						"element.offsetHeight" : $(element_div).get(0).offsetHeight,
					},
					{
						"desc": '元素可視範圍 | 元素捲動 (寬,高)',
						"element.scrollWidth" : $(element_div).get(0).scrollWidth,
						"element.scrollHeight" : $(element_div).get(0).scrollHeight,
					},
					{
						"desc": '元素可視範圍 | 元素被卷去 (左,上)',
						"element.scrollLeft" : $(element_div).get(0).scrollLeft,
						"element.scrollTop" : $(element_div).get(0).scrollTop,
					},
				]

				let tbody_content = "";
				$.each( arr, function( idx, obj ){

					let td1 = obj['desc'];
					let td2 = "";
					let td3 = "";
					$.each( obj, function( key, val, aa ){
						if ( key !== 'desc' ){
							td2 += `${key}, `
							td3 += `${val}, `
						}
					})

					tbody_content += `
					<tr>
						<td>${td1}</td>
						<td>${td2}</td>
						<td>${td3}</td>
					</tr>`
					
				})
				$('#ch_1_table2 tbody').html(tbody_content);
			})
		}

		function ch_2_fn(){
			let eventsArr = function(event){
				return [
					event.screenX + ',' + event.screenY,
					event.clientX + ',' + event.clientY,
					event.pageX + ',' + event.pageY,
					event.offsetX + ',' + event.offsetY,
				];
			}

			let changeEventStatus = function( eventArr, which_td ){
				$.each( $('#ch_2-table').children('tbody').children('tr'), function( idx, ele ){
					$( ele ).children('td').eq( which_td ).html( eventArr[idx] );
				})
			}

			// window.mousemove
			$(window).on('mousemove load',function(event){
				let evtArr = eventsArr(event);
				changeEventStatus( evtArr, 2 );

				// 關掉console.log
				if ( $('#ch_2-table').find('button').hasClass('hover_console') ){
					console.log( 'window.mousemover event', event );
				}else{
					return;
				}
			})

			//window.click
			$(window).on('click load',function(event){
				let evtArr = eventsArr(event);
				changeEventStatus( evtArr, 3 );
				
				console.log( 'window_click', event );
			})
		}
	</script>
</body>
</html>