<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<!-- shortcut -->
	<link rel="Shortcut Icon" type="image/x-icon" href="cb-logo.png">

	<!-- jquery -->
	<script src="../src/plugins/jquery/jquery.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" href="../src/plugins/bootstrap/bootstrap.css">
	<script src="../src/plugins/bootstrap/popper.js"></script>
	<script src="../src/plugins/bootstrap/bootstrap.js"></script>

    <!-- main_simplify -->
	<link rel="stylesheet" href="../src/css/main_simplify.css">
	<script src="../src/js/main_simplify.js"></script>

	<!-- web style -->
	<link rel="stylesheet" href="../src/css/cb.css">
	<script src="../src/js/cb.js"></script>
</head>
<body>
    <div id="container">
        <h3>小知識 + 常忘語法</h3>
        <div>
            <p>&lt;meta http-equiv="refresh" content="30"&gt;<b>更新網頁 every 30s</b></p>
            <p>&lt;link rel="shortcut Icon" type="image/x-icon" href=""&gt;<b>網站小圖示</b></p>	
            <p>background-size:contain <b>長或寬填滿</b></p>
            <p>background-size:cover <b>直到填滿 (會溢出)</b></p>
            
            <p class="bgc-3" data-toggle="collapse" data-target="#sql">基本SQL語法</p>
            <pre id="sql" class="collapse">
            update TB set COL='VAL',COL='VAL' where~
            insert into TB (COL,COL) values ('VAL','VAL') 
            delete from TB where~ 
            truncate table TB </pre>
            
            <p class="bgc-3" data-toggle="collapse" data-target="#sel">CSS Selector[CSS選擇器]</p>
            <pre id="sel" class="collapse">
            [target = _blank] 完全一樣
            [title ~= flower] 單字一樣
            [lang  |= en]	起始單字一樣，後面加 - 才可接字
            [href  ^= "https"] 起始一樣
            [href  $= ".pdf"] 結尾一樣
            [href  *= "w3schools"] 搜到一樣
            div   p|父.子|兒子p.孫子p.曾孫p...
            div &gt; p|父.子|兒子p
            div + p|父.父|排在div後面的下一位p
            div ~ p|父.父|排在div後面的所有p </pre>
            
            <p class="bgc-3" data-toggle="collapse" data-target="#vb">VB語言</p>
            <pre id="vb" class="collapse">
            &lt;script runat="server"&gt;
            Public function rrq(vStr)
            return replace(request(vStr),"'","''")
            End function
            &lt;/script&gt;
            '用來取url?後的敘述。如:XX.html?du=21
            '那麼下 rrq('du') 即可獲取'21'這個值 </pre>
            
            <p class="bgc-3" data-toggle="collapse" data-target="#hd">htmlHead</p>
            <div id="hd" class="collapse bgc-w">
                <iframe src="src/doc/html.txt" width="100%" height="360px"></iframe>
            </div>
        </div>
    </div>
</body>
</html>