<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<!-- core -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.js"></script>

</head>
<style>
    body { background-color: #f5f5f5; line-height: 1.5; padding: 0 15px; font-family: "微軟正黑體"; }

    .findVal { background-color: rgba(199,255,0,.4); }
    .replaceVal { background-color: rgba(0,200,0,.4);}
    .p-start { text-indent: 1em; }
</style>

<body>

    <h5 class="my-3">在HTML或jQuery中，用正規表達式尋找className</h5>
    <div class="mb-3">
        <input id="findInput" name="aa" style="font-size: 18px" placeholder="find_CSS">
        <input id="replaceInput" name="bb" style="font-size: 18px" placeholder="replace_CSS">
    </div>

    <div id="output" class="mt-10">
        <div class="mb-3">
            <b>純 class：</b>
            <div class="p-start">
                <div>
                    <span class="mr-2">尋找：</span>
                    <span class="user-select-all">class=(["'])([^"']*\s+)?(<span class="findVal"></span>)(\s+[^"']*)?(["'])</span>
                </div>
                <div>
                    <span class="mr-2">取代：</span>
                    <span class="user-select-all">class=$1$2<span class="replaceVal"></span>$4$5</span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <b>純 jquery：</b>
            <div class="p-start">
                <div>
                    <span class="mr-2">尋找：</span>
                    <span class="user-select-all">\((\s*["']\s*)([\.])?([^"']*[^\w-])?(<span class="findVal"></span>)([^\w-][^"']*)?(\s*["']\s*)\)</span>
                </div>
                <div>
                    <span class="mr-2">取代：</span>
                    <span class="user-select-all">($1$2$3<span class="replaceVal"></span>$5$6)</span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <b>class + jquery：</b>
            <div class="p-start">
                <div>
                    <span class="mr-2">尋找：</span>
                    <span class="user-select-all">class=(["'])([^"']*\s+)?(<span class="findVal"></span>)(\s+[^"']*)?(["'])|\((\s*["']\s*)([\.])?([^"']*[^\w-])?(<span class="findVal"></span>)([^\w-][^"']*)?(\s*["']\s*)\)</span>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div>匹配範例： <a href="https://regex101.com/r/XQGc5Q/7" target="_blank">https://regex101.com</a> 試試</div>
    <div>正規表達式： <a href="https://wiki.jikexueyuan.com/project/python-crawler-guide/images/04.png" target="_blank">圖片連結</a></div>

    <script>
        $('#findInput').on('keyup',()=>{
            let str = $('#findInput').val();
            if (str !== ''){ 
                $('.findVal').text( $('#findInput').val() );
            }else{
                $('.findVal').text( $('#findInput').attr('placeholder') );
            }
        })

        $('#replaceInput').on('keyup',()=>{
            let str = $('#replaceInput').val();
            if (str !== ''){ 
                $('.replaceVal').text( $('#replaceInput').val() );
            }else{
                $('.replaceVal').text( $('#replaceInput').attr('placeholder') );
            }
        })

        $(function(){
            $('#findInput').focus();
            $('.findVal').text( $('#findInput').attr('placeholder') );
            $('.replaceVal').text( $('#replaceInput').attr('placeholder') );
        })
    </script>
</body>
</html>